# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.senv/
*.env
*.venv

# Django / Python cache files


# JWT Private Keys & Secret Keys

# Ignore JWT migration files if necessary


# IDE / Editor specific files
.idea/
.vscode/
*.swp
*.swo

